@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(300deg, #0b0b0b, #050505);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
      
}
h1 {
    font-family: 'Arial', sans-serif; /* Change the font-family to your desired font */
    color: hsl(266, 87%, 70%); /* Change the color to your desired color */
  }

input {
    padding: 1rem;
    border-radius: 25px;
    border: none;
    background-color: #b3e0f2;
    font-family: inherit;
    box-shadow: 0 4px 10px rgb(230, 234, 235);
    min-width: 300px;
    font-size: 1rem;
}
input:focus {
    outline: none;
}

.weather {
    text-align: center;
    font-size: 2rem;
    color: white; /* Add this line to set the font color to white */
}

.weather h2 {
    margin-bottom: 0;
    display: flex;
    align-items: center;
}